DayApp/.vs/DayApp/v16/Server/sqlite3/db.lock
DayApp/.vs/DayApp/v16/Server/sqlite3/storage.ide
DayApp/.vs/DayApp/v16/Server/sqlite3/storage.ide-shm
DayApp/.vs/DayApp/v16/Server/sqlite3/storage.ide-wal
DayApp/bin/Debug/netcoreapp3.1/DayApp.runtimeconfig.dev.json
DayApp/obj/DayApp.csproj.nuget.dgspec.json
DayApp/obj/project.assets.json
DayApp/obj/DayApp.csproj.nuget.g.props
DayApp/obj/Debug/netcoreapp3.1/DayApp.csproj.FileListAbsolute.txt
